<div class="add-form" [formGroup]="addForm">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput>
    </mat-form-field>
    <mat-form-field>
         <mat-label>Description</mat-label>
        <input formControlName="description" matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Feed URL</mat-label>
        <input formControlName="feedUrl"   matInput>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addPodcast()" [disabled]="!addForm.valid">Add</button>
</div>