<mat-table [dataSource]="(episodes$ | async) ?? []">

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let episode"> {{episode.title}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell class="description-cell" *matCellDef="let episode">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Description
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(episode.description)"></div>
      </mat-expansion-panel>
    </td>
  </ng-container>

  <ng-container matColumnDef="downloadUrl">
    <th mat-header-cell *matHeaderCellDef> Download </th>
    <td mat-cell *matCellDef="let episode">
      <button color="primary" mat-icon-button (click)="downloadEpisode(episode)">
        <mat-icon>download</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>