button[matMiniFab] {
	cursor: pointer;
}

table {
	width: 100%;
}
.episode-list {
  mat-spinner {
	margin: auto;
	padding: auto
  }
}

.mat-column-title {
	width: 70%;
}

.mat-column-publishDate {
	width: 25%;
}

.mat-column-downloadUrl {
	width: 5%;
}

.mat-mdc-table > thead:nth-child(1) {
	display: none;
}